@import "https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic";
@import "~normalize.css";
@import "~milligram";

.align-right {
  text-align: right;
}

.nav {
  border-bottom: 1px solid #9b4dca;
  height: 4rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}
